{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap Styles-->
    <link href="{% static 'spaceapps/css/bootstrap.css' %}" rel="stylesheet">
    <!-- FontAwesome Styles-->
    <link href="{% static 'spaceapps/css/font-awesome.css' %}" rel="stylesheet">
    <!-- Morris Chart Styles-->
    <link href="{% static 'spaceapps/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
    <!-- Custom Styles-->
    <link href="{% static 'spaceapps/css/custom-styles.css' %}" rel="stylesheet">
    <title>Cyberwatcher</title>
</head>
<body>
<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 espacio"></div>
</div>
<div class="container" style="margin-bottom: 10%">
    <h1 style="text-align: center; margin-bottom: 10%; font-family: 'Noto Sans Mono CJK SC Bold'; font-size: 100px; color: rgba(42,133,0,0.88);">Cyberwatcher</h1>
    <h4 style="text-align: center; margin-bottom: 3%">We watch for your needs</h4>
    <form action="{% url 'paso_1' %}" method="post">
        {% csrf_token %}
    <input type="hidden" id="electridad_eolica_generada" value="{{ electricity_generated.0 }}"/>
     <input type="hidden" id="electridad_solar_generada" value="{{ electricity_generated.1}}"/>
    <input type="hidden" id="prices_0" value="{{ prices.0}}"/>
    <input type="hidden" id="prices_1" value="{{ prices.1}}"/>
    <input type="hidden" id="ammount_0" value="{{ amounts.0}}"/>
    <input type="hidden" id="ammount_1" value="{{ amounts.1}}"/>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-4 col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <label>Continent</label>
                <select id="in_continente" name="in_continente" class="form-control" required>
                    {% for country in countries %}
                        <option value="{{ country.continente }}">{{ country.continente }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4 col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <label>Country</label>
                <select id="in_pais" name="in_pais" class="form-control" required>
                    <option value=""></option>
                </select>
            </div>
            <div class="col-4 col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <label>City</label>
                <select id="in_ciudad" name="in_ciudad" class="form-control" required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <div class="col-4 col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <label>Yearly consumption (gWH)</label>
                <input class="form-control" type="text" placeholder="" name="in_consumo"
                       id="consumoEsp" value="" required>
                <br>
            </div>
            <div class="col-4 col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <label>Price per solar panel ($)</label>
                <input class="form-control" type="text" placeholder="" name="in_preciopl"
                       id="precioPl" value="" required>
                <br>
            </div>
            <div class="col-4 col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <label>Price per wind turbine ($)</label>
                <input class="form-control" type="text" placeholder="" name="in_preciomo"
                       id="precioMo" value="" required>
                <br>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-4 col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <label>Rotor diameter (m2)</label>
                <input class="form-control" type="text" placeholder="" name="in_diametro_ro"
                       id="diametroRo" value="" required>
                <br>
            </div>
            <div class="col-4 col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <label>Solar panel power (w)</label>
                <input class="form-control" type="text" placeholder="" name="in_potencia_placa"
                       id="potenciaPl" value="" required>
                <br>
            </div>
            <div class="col-4 col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <label>Peak hours of sun exposition</label>
                <input class="form-control" type="text" placeholder="" name="in_horas_sol"
                       id="in_horas_sol" value="" required>
                <br>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="width: 100%; background-color: rgba(42,133,0,0.88);">Accept</button>
    </form>
</div>
<div class="row" style="visibility:
                                    {% if electricity_generated %}
                                        visible
                                    {% else %}
                                        hidden
                                    {% endif %};">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-2 col-xs-4 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-defaut">
                <div class="panel-heading">
                    Yearly production per exploitation device (gWh)
                </div>
                <div class="panel-body">
                    <div id="morris-bar-chart"></div>
                </div>
            </div>
        </div>

        <div class="col-2 col-xs-4 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Price of the installation
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                </div>
            </div>
        </div>

         <div class="col-2 col-xs-4 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-defaut">
                <div class="panel-heading">
                    Amount of exploitation devices required
                </div>
                <div class="panel-body">
                    <div id="morris-bar-chart_2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/spaceapps/js/jquery-1.10.2.js' %}"></script>
<!-- Bootstrap Js -->
<script src="{% static '/spaceapps/js/bootstrap.min.js' %}"></script>
<!-- Metis Menu Js -->
<script src="{% static '/spaceapps/js/jquery.metisMenu.js' %}"></script>
<!-- Morris Chart Js -->
<script src="{% static '/spaceapps/js/morris/raphael-2.1.0.min.js' %}"></script>
<script src="{% static '/spaceapps/js/morris/morris.js' %}"></script>
<!-- Custom Js -->
<script>
    $(document).on('change', '#in_continente', function (event) {
        var continent = $("#in_continente option:selected").val();
        console.log(continent);
        $.ajax({
            url: "/filtro_1/" + continent,
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $("#in_pais").empty();
                $.each(data, function (i, field) {
                    $("#in_pais").append(new Option(field.nombre, field.cod));
                });
            },
        });
    });
     $(document).on('change', '#in_pais', function (event) {
        var continent = $("#in_pais option:selected").val();
        console.log(continent);
        $.ajax({
            url: "/filtro_2/" + continent,
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $("#in_ciudad").empty();
                $.each(data, function (i, field) {
                    $("#in_ciudad").append(new Option(field.nombre, field.nombre));
                });
            },
        });
    });
    (function ($) {
        "use strict";
        var electricidad_eolica_generada = document.getElementById("electridad_eolica_generada").value;
        var electricidad_solar_generada = document.getElementById("electridad_solar_generada").value;
        var prices_0 = document.getElementById("prices_0").value;
        var prices_1 = document.getElementById("prices_1").value;
        var ammount_0 = document.getElementById("ammount_0").value;
        var ammount_1 = document.getElementById("ammount_1").value;
        var mainApp = {

            initFunction: function () {
                /*MENU
                ------------------------------------*/
                $('#main-menu').metisMenu();

                $(window).bind("load resize", function () {
                    if ($(this).width() < 768) {
                        $('div.sidebar-collapse').addClass('collapse')
                    } else {
                        $('div.sidebar-collapse').removeClass('collapse')
                    }
                });

                /* MORRIS BAR CHART
                -----------------------------------------*/
                Morris.Bar({
                    element: 'morris-bar-chart',
                    data: [{
                        y: '',
                        a: 0,
                        b: 0
                    }, {
                        y: '',
                        a: 0,
                        b: 0
                    }, {
                        y: '',
                        a: 0,
                        b: 0
                    }, {
                        y: 'Wind energy',
                        a: electricidad_eolica_generada,
                        b: 0
                    }, {
                        y: 'Solar energy',
                        a: electricidad_solar_generada,
                        b: 0
                    }, {
                        y: '',
                        a: 0,
                        b: 0
                    }, {
                        y: '',
                        a: 0,
                        b: 0
                    }],
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['',''],
                    hideHover: 'auto',
                    resize: true
                });

                 Morris.Bar({
                    element: 'morris-bar-chart_2',
                    data: [{
                        y: '',
                        a: 0,
                        b: 0
                    }, {
                        y: '',
                        a: 0,
                        b: 0
                    }, {
                        y: '',
                        a: 0,
                        b: 0
                    }, {
                        y: 'Wind turbines',
                        a: ammount_0,
                        b: 0
                    }, {
                        y: 'Solar panels',
                        a: ammount_1,
                        b: 0
                    }, {
                        y: '',
                        a: 0,
                        b: 0
                    }, {
                        y: '',
                        a: 0,
                        b: 0
                    }],
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['',''],
                    hideHover: 'auto',
                    resize: true
                });

                /* MORRIS DONUT CHART
                ----------------------------------------*/
                Morris.Donut({
                    element: 'morris-donut-chart',
                    data: [{
                        label: "Wind installation",
                        value: prices_0
                    }, {
                        label: "Solar installation",
                        value: prices_1
                    }],
                    resize: true
                });

                /* MORRIS AREA CHART
                ----------------------------------------*/

                Morris.Area({
                    element: 'morris-area-chart',
                    data: [{
                        period: '2010 Q1',
                        iphone: 2666,
                        ipad: null,
                        itouch: 2647
                    }, {
                        period: '2010 Q2',
                        iphone: 2778,
                        ipad: 2294,
                        itouch: 2441
                    }, {
                        period: '2010 Q3',
                        iphone: 4912,
                        ipad: 1969,
                        itouch: 2501
                    }, {
                        period: '2010 Q4',
                        iphone: 3767,
                        ipad: 3597,
                        itouch: 5689
                    }, {
                        period: '2011 Q1',
                        iphone: 6810,
                        ipad: 1914,
                        itouch: 2293
                    }, {
                        period: '2011 Q2',
                        iphone: 5670,
                        ipad: 4293,
                        itouch: 1881
                    }, {
                        period: '2011 Q3',
                        iphone: 4820,
                        ipad: 3795,
                        itouch: 1588
                    }, {
                        period: '2011 Q4',
                        iphone: 15073,
                        ipad: 5967,
                        itouch: 5175
                    }, {
                        period: '2012 Q1',
                        iphone: 10687,
                        ipad: 4460,
                        itouch: 2028
                    }, {
                        period: '2012 Q2',
                        iphone: 8432,
                        ipad: 5713,
                        itouch: 1791
                    }],
                    xkey: 'period',
                    ykeys: ['iphone', 'ipad', 'itouch'],
                    labels: ['iPhone', 'iPad', 'iPod Touch'],
                    pointSize: 2,
                    hideHover: 'auto',
                    resize: true
                });

                /* MORRIS LINE CHART
                ----------------------------------------*/
                Morris.Line({
                    element: 'morris-line-chart',
                    data: [{
                        y: '2006',
                        a: 100,
                        b: 90
                    }, {
                        y: '2007',
                        a: 75,
                        b: 65
                    }, {
                        y: '2008',
                        a: 50,
                        b: 40
                    }, {
                        y: '2009',
                        a: 75,
                        b: 65
                    }, {
                        y: '2010',
                        a: 50,
                        b: 40
                    }, {
                        y: '2011',
                        a: 75,
                        b: 65
                    }, {
                        y: '2012',
                        a: 100,
                        b: 90
                    }],
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['Series A', 'Series B'],
                    hideHover: 'auto',
                    resize: true
                });


            },

            initialization: function () {
                mainApp.initFunction();

            }

        }
        // Initializing ///

        $(document).ready(function () {
            mainApp.initFunction();
        });

    }(jQuery));
</script>
>
</body>
</html>